.btn-primary {
    background-color: #0056D2;
    border-color: #0056D2;
}

.btn-primary:hover {
    background-color: #0041a8;
    border-color: #0041a8;
}

.btn-outline-primary {
    border-color: #0056D2;
    color: #0056D2;
}

.btn-outline-primary:hover {
    background-color: #0056D2;
    color: #fff;
}
